.about-us {
  @include page-grid;

  &__top {
    grid-column: 1 / -1;
    margin-bottom: 32px;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__info {
    display: grid;
    grid-column: 1 / -1;
    row-gap: $gap-24;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}

.visit {
  margin: 0 0 2px;

  font-size: 12px;
  font-weight: $font-weight-bold;
  line-height: 140%;
  color: $color-red;
  letter-spacing: 0;
}

.location {
  &__adress {
    margin: 0 0 16px;

    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: 30px;
    letter-spacing: 0;
  }

  &__schedule {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $gap-8 $column-gap;
    align-items: start;
  }

  &__hours,
  &__days,
  &__holiday {
    margin: 0;
  }

  &__hours,
  &__closed {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
    letter-spacing: 0;
  }

  &__days,
  &__holiday {
    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    line-height: $line-height-base;
    letter-spacing: 0;
  }

  &__closed {
    margin: 16px 0 0;
  }
}
