.contacts__everything {
  row-gap: $gap-48;
  margin-top: 48px;

  @include page-grid;
}

.contacts__info {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desktop {
    --columns: 6;

    display: grid;
    grid-column: 1 / 6;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: $column-gap;
  }
}

.information {
  @include on-desktop {
    grid-column: span 3;
  }
}

.contacts__form {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;
  gap: $gap-16;

  @include on-tablet {
    grid-column: 4 / -1;
  }

  @include on-desktop {
    grid-column: 7 / -1;
  }
}

.information__label {
  margin: 0 0 4px;

  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
  color: $color-text-main;
  letter-spacing: 0;
}

.information__location {
  margin: 0 0 16px;

  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  line-height: $line-height-base;
  color: $color-text-main;
  letter-spacing: 0;
}

.information + .information {
  margin-top: 48px;

  @include on-desktop {
    margin-top: 0;
  }
}

.information__number,
.information__adress {
  margin: 0;

  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  line-height: $line-height-base;
  color: $color-gray-dark;
  letter-spacing: 0;
}

.information__number a {
  color: $color-gray-dark;
  text-decoration: none;
}

.information__adress a {
  color: $color-gray-dark;
  text-decoration: none;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 14px 12px;
  border: none;

  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  line-height: 20px;
  letter-spacing: 0;

  background: $color-gray-light;
}

.form__input {
  height: 48px;
}

.form__textarea {
  resize: vertical;
  min-height: 144px;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  line-height: 20px;
  color: $color-gray-medium;
  letter-spacing: 0;
}
