.header {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__top {
    padding-block: 25px;

    @include content-padding-inline;

    @include on-tablet {
      padding-block: 50px;
    }

    @include on-desktop {
      max-width: none;
      margin-inline: 0;
      padding-inline: $padding-desktop-inline;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__righticons {
    display: flex;
    gap: $gap-24;
  }

  &__title {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: center;
    color: $color-white;
    width: calc(100vw - 2 * 20px);

    @include on-tablet {
      width: 392px;
      font-size: 64px;
    }

    @include on-desktop {
      width: 498px;
      font-size: 80px;
    }
  }

  & .icon {
    @include on-tablet {
      width: 32px;
      height: 32px;
    }

    &--logo {
      @include on-tablet {
        width: 87px;
        height: 65px;
      }
    }
  }
}
