.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all $transition;
  background-size: contain;

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--logo {
    width: 64px;
    height: 46px;
    background-image: url(../icons/THE-MET-2x.png);

    @include on-tablet {
      width: 87px;
      height: 65px;
    }
  }

  &--call {
    background-image: url(../icons/Icon-Phone-call-2x.png);
  }

  &--menu {
    background-image: url(../icons/Icon-Burger-menu-2x.png);
  }

  &--close {
    background-image: url(../icons/Icon-Close-2x.png);
  }
}

.menu__contact-details {
  position: absolute;
  top: 50%;
  right: 100%;
  white-space: nowrap;
  margin-right: 16px;
  text-align: right;
  opacity: 0;
  transform: translateY(-50%) translateX(16px);
  transition:
    opacity $transition ease-out,
    transform $transition ease-out;
  box-shadow: 18px 4px 26px 0 $color-shadow;
}

.contact-trigger-area {
  position: relative;
  display: inline-block;

  &:hover .menu__contact-details {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
    pointer-events: auto;
  }
}
