.menu {
  box-sizing: border-box;
  position: fixed;
  padding-block: 25px;

  overflow: auto;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 32px;
  }

  @include on-desktop {
    max-width: none;
    margin-inline: 0;
    padding-inline: $padding-desktop-inline;
  }

  height: 100vh;
  background-color: $color-red;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &__top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__nav {
    margin-bottom: 32px;
  }

  &__phone-numbers {
    display: block;
    color: $color-white;
    text-decoration: none;
    font-size: $font-size-base;
    line-height: $line-height-base;
    letter-spacing: 0;
    margin-bottom: 8px;

    &:nth-of-type(2) {
      margin-bottom: 0;
    }
  }

  &__call-to-order {
    display: block;
    color: $color-white;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 8px;
    margin-top: 16px;
    border-bottom: 1px solid $color-white;
    width: fit-content;
  }
}
