.now-on-view {
  &__info {
    display: grid;
    row-gap: $gap-48;
  }
}

.explore {
  margin: 8px 0 48px;

  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-base;
  text-align: center;
  letter-spacing: 0;
}

.collection {
  &__photos {
    @include page-grid;

    margin-bottom: 24px;
  }

  &__photos--unique {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    margin-bottom: 24px;

    a:nth-child(1) {
      grid-column: span 1;
    }

    a:nth-child(2) {
      grid-column: span 1;
    }

    a:nth-child(3) {
      grid-column: span 1;
    }

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: $column-gap;

      a:nth-child(1) {
        grid-column: span 1;
      }

      a:nth-child(2) {
        grid-column: span 1;
      }

      a:nth-child(3) {
        display: none;
      }
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: $column-gap;

      a:nth-child(1) {
        grid-column: span 4;
      }

      a:nth-child(2) {
        grid-column: span 4;
      }

      a:nth-child(3) {
        display: block;
        grid-column: span 4;
      }
    }
  }

  &__link {
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--left {
      object-position: 20%;
    }

    &--right {
      object-position: 100%;
    }
  }

  &__title {
    margin: 0;

    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
    color: $color-red;
    letter-spacing: 0;
  }

  &__date {
    margin: 0;

    font-size: $font-size-base;
    font-weight: $font-weight-regular;
    line-height: $line-height-base;
    color: $color-text-main;
    letter-spacing: 0;
  }
}
