$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$color-text-main: #161616;
$color-white: #fff;
$color-red: #d12d35;
$color-red-dark: #ae1c23;
$color-shadow: #00000070;
$color-gray-dark: #3e3e3e;
$color-gray-medium: #7e7e83;
$color-gray-light: #f8f8fa;
$font-main: Cinzel, serif;
$font-size-base: 16px;
$line-height-base: 27px;
$font-weight-regular: 400;
$font-weight-bold: 700;
$padding-mobile-inline: 20px;
$padding-tablet-inline: 72px;
$padding-desktop-inline: 120px;
$section-gap-mobile: 100px;
$section-gap-tablet: 140px;
$transition: 0.3s;
$gap-8: 8px;
$gap-16: 16px;
$gap-24: 24px;
$gap-32: 32px;
$gap-48: 48px;
$column-gap: 24px;
$font-size-small: 14px;
$font-size-large: 24px;
